.searchInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  input {
    width: 50%;
    padding: 1.2rem;
    border: 1px solid var(--lightBlack);
    border-radius: 5px;
    min-width: 375px;

    &::placeholder {
      font-size: 0.7rem;
    }
  }
}
