@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif !important;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  --primary: #faf0e4;
  --secondary: #fad4a7;
  --veryImportant: #b6a8fa;
  --veryImportantHover: #9b07e3;
  --important: #9bcdd2;
  --importantHover: #5ec8d1;
  --lightBlack: #1f292a;
  --black: #0f1415;
}

a {
  font-weight: 500;
  color: var(--important);
  text-decoration: none;
}
a:hover {
  color: var(--importantHover);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid var(--veryImportantHover);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--important);
  background-color: var(--veryImportant);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  color: var(--veryImportantHover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
